In [1]:
from scipy import *
from numpy import *
from matplotlib import *
from matplotlib.pyplot import *
from matplotlib.font_manager import FontProperties
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
from matplotlib.font_manager import FontProperties
import matplotlib.pyplot as plt
from matplotlib import gridspec
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, timedelta
import matplotlib.dates as mdates

## Magic formula
1) Collect all the equities based on ascending order of ROCE

2) Ascending order by P/E 

3) Make rank according to location of ROCE and P/E

In [28]:
#https://in.finance.yahoo.com  #Import the Sample worksheet

#df_clean = df['Date'].str.contains("null") | df['Close'].str.contains("null")
#df1 = df[~df_clean]
#df = pd.read_csv('/home/kishor/Dropbox/stock/sample_data/AMC.AX.csv') #, usecols=[0,4]
#clean data file ->  'null' in few rows!
#df.dropna(subset=['Close'], inplace=True)

# read excel
df = pd.read_excel('/Users/kishor/Dropbox/stock/personal/filter_magic_formula/roce_asc.xlsx')
df = df.replace(',','', regex=True)
l1 = len(df) # length of the data

#----------------------------------------
#df.to_csv('/Users/kishor/bajaj_test.csv')
#pd.set_option('max_rows', l1)
#pd.options.display.max_rows
#---------------------------------
#df.to_csv('/home/kishor/Dropbox/stock/indices/indian_bse.csv')
df.head(5)

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
0,1,Kilpest India,451.50,8.12,338.99,0.22,5.14,-90.19,15.22,-86.44,179.46
1,2,Ksolves India,339.10,28.47,402.04,4.79,3.90,39.78,11.97,70.27,161.06
2,3,Nupur Recyclers,273.05,56.12,567.94,0.00,6.64,NaN,38.73,NaN,157.58
3,4,EKI Energy,11241.85,415.02,7727.65,0.01,161.21,NaN,687.82,NaN,149.11
4,5,Nestle India,18790.75,80.83,181172.36,1.06,617.37,5.16,3882.57,9.62,139.29

In [29]:
df1 = df.sort_values('P/E', axis=0, ascending=False, inplace=False)
df1['Row_number'] = np.arange(len(df1))
#df1=df.sort_values('S.No.', axis=0, ascending=True, inplace=False)
df1.to_csv('/Users/kishor/Dropbox/stock/personal/filter_magic_formula/PE.csv')
#print(df1.head(7))
df2 = df1
df1.head(5)

#

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,Row_number
666,667,FSN E-Commerce,1660.65,1269.79,78536.66,0.00,1.17,-95.74,885.26,46.62,14.00,0
1159,1160,National Standar,10701.00,1019.14,21402.00,0.00,2.86,66.28,0.03,-92.31,5.83,1
1083,1084,Waaree Renewab.,371.45,1004.12,773.17,0.00,4.30,854.39,11.30,1102.13,7.25,2
860,861,Adani Green,1929.00,751.32,301698.35,0.00,100.00,460.72,1295.00,111.60,10.96,3
889,890,Mangalam Global,139.35,699.16,349.58,0.72,-1.19,-178.81,153.13,-45.90,10.44,4

In [30]:
df2["S.No."] = df1["S.No."] + df1["Row_number"]
df2 = df2.sort_values('S.No.', axis=0, ascending=True, inplace=False)
df2 = df2.rename({'S.No.': 'Rank'}, axis=1) 
df2.to_csv('/Users/kishor/Dropbox/stock/personal/filter_magic_formula/rank.csv')
print(df2.head(5))

    Rank           Name   CMP Rs.     P/E  Mar Cap Rs.Cr.  Div Yld %  \
3     12     EKI Energy  11241.85  415.02         7727.65       0.01
23    73  Clean Science   2307.30  123.40        24507.90       0.00
66   109   HLE Glascoat   6290.05  138.31         8587.87       0.06
4    112   Nestle India  18790.75   80.83       181172.36       1.06
21   114    Sigma Solve    660.00   89.55          271.33       0.08

    NP Qtr Rs.Cr.  Qtr Profit Var %  Sales Qtr Rs.Cr.  Qtr Sales Var %  \
3          161.21               NaN            687.82              NaN
23          53.52             -1.38            153.16             9.20
66          13.10             15.52            110.01             0.95
4          617.37              5.16           3882.57             9.62
21            NaN               NaN               NaN              NaN

    ROCE %  Row_number
3   149.11           8
23   60.52          49
66   40.94          42
4   139.29         107
21   61.29          92

In [49]:
# change strings to nuemrical values
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')

In [51]:
# Filter Promotor Holding more than 30% and dividend yielding
#df1 = pd.DataFrame(data = df)
df = df[df['Price'] < 10.00]
#l2 = len(df1 )
df.to_csv('/home/kishor/Downloads/stock/filter_asx100.csv')
#df.head(5)

In [ ]:
# Filter Promotor Holding more than 30% and dividend yielding
df1 = df[(df['Prom_sha_per'] > 30) & (df['Div_Rs'] > 0)]
l2 = len(df1 )
#df1.to_csv('/Users/kishor/Dropbox/stock/indices/promotor_hold30.csv')
df1.head(l2)

In [ ]:
# Filter Promotor Holding between 20-30 % also dividend providing
df2 = df[(df['Prom_sha_per'] > 20) & (df['Prom_sha_per'] < 30) & (df['Div_Rs'] > 0)]
l2 = len(df2 )
df2.to_csv('/Users/kishor/Dropbox/stock/indices/pro_20_30_div.csv')
df2.head()
print(len(df2))

In [ ]:
# Filter Promotor Holding more than 20% - NO dividend providing, MP greater than zero
df3 = df[(df['Prom_sha_per'] > 20) & (df['Div_Rs'] <= 0) & (df['MP_June_21'] > 100)]
l2 = len(df3 )
#df1.to_csv('/Users/kishor/Dropbox/stock/indices/promotor_hold30.csv')
df3.to_csv('/Users/kishor/Dropbox/stock/indices/pr_20_div_0_mp_gt_100.csv')
df3.head(l2)
print(len(df3))

In [ ]:
# compare Base value and current price
df3 = df2[ (abs(df1['MP_June_21']-df1['BV'])/df1['MP_June_21'])*100 < 20]
#df3.to_csv('/Users/kishor/Dropbox/stock/indices/base_current_profit.csv')
df3.head(l2)

In [ ]:
df[df['StockName'].str.contains('Amar*')]

In [22]:
df1=df.sort_values('LastSale', axis=0, ascending=True, inplace=False)

In [23]:
df1.to_csv('/home/kishor/Dropbox/stock/indices/us/nasdaq_des.csv')